@font-face {
    font-family: 'Montserrat';
    src: url("../Fonts/Montserrat-Regular.ttf")
}
.bodystyle {
    font-family: 'Montserrat';
}
#numS{
    -fx-font-family: 'Montserrat ';
    -fx-alignment: center;
}